body,html{
  width:100%;
  height:auto;
}
div#header_logo svg path{
  fill:#22226b;
}
span.header_short_line{

  background-color: #22226b;

}

span.header_long_line{
  background-color: #22226b;

}

div#about_wrap{
  width:100%;
  height:auto;
  overflow:hidden;
  /* padding-top:220px; */
  
  box-sizing:border-box;
}
div#about_title_wrap{
  width:100%;
  height:auto;
  margin-top:250px;
  margin-bottom:183px;
  position:relative;
  left:0;
  top:0;
  
}

h2#about_title{
  font:normal 160px "Roboto";
  font-weight: 600;
  color:#0a013d;
  text-align:left;
  margin-left:85px;
}

div.about_attention_wrap{
  margin-top:120px;
  margin-left:138px;
  position:relative;
  left:0;
  top:0;
}
p.about_attention{
  font:bold 140px "Roboto";
  color:#eeeeee;
  position:absolute;
  left:-50px;
  top:-80px;
  
}
p.about_attention_title{
  font:bold 50px "Roboto";
  color:#0a013d;
  position:relative;
  left:0;
  top:0;
  
}
p.about_attention_title span{
  font:bold 80px "Roboto";
  margin-left:10px;
  position:relative;
  left:0;
  top:5px;
}
p.about_attention_text{
  font:normal 36px/52px "Roboto";
  color:#777;
  margin-top:20px;
  position:relative;
  left:0;
  top:0;
}
p#about_copy{
  margin-top:248px;
  text-align:center;
  font:bold 50px "Roboto";
  color:#C37C3B;
  position:relative;
  left:0;
  top:0;
}
div.about_identity_wrap{
  margin-top:259px;
  margin-right:140px;
  text-align:right;
  position:relative;
  left:0;
  top:0;

}
p.about_identity{
  font:bold 140px "Roboto";
  color:#eeeeee;
  position:absolute;
  right:0px;
  top:-100px;
}
ul.about_text_list{
  position:relative;
  left:0;
  top:0;
}
ul.about_text_list li{
  font:normal 36px "Roboto";
  color:#777;
  margin-top:35px;
}
ul.about_text_list li:first-child{
  margin-top:0;
}

ul.about_text_list li span{
  color:#0a013d;
  font:bold 40px "Roboto";
}



div#about_main_visual{
  width:100%;
  height:580px;
  background:url(/naming_project/sub/about/images/about_main_visual.jpg) no-repeat center center;
  /* background-attachment:fixed; */
  overflow:hidden;
}

div#about_info_wrap{
  text-align:center;
  margin-top:170px;
}
p.about_info_title{
  margin-top:60px;
  font:bold 40px "Roboto";
  color:#0A013d;
}
p.about_info_text{
  margin-top:35px;
  font:normal 30px/46px "Roboto";
  color:#777;
}
p.about_info_text span{
  display:block;
  margin-top:30px;
  font-weight:bold;
}
p.about_line{
  width:100%;
  height:200px;
  margin-top:73px;
}
p.about_line span{
  display:block;
  width:1px;
  height:100%;
  margin:0 auto;
  background:#0a013d;
}

div#about_info_bottom{
  position:relative;
  left:0;
  top:0;
}

p.about_info_subtilte{
  margin-top:73px;
  font:bold 40px "Roboto";
  color:#0a013d;
}

p.about_info_subtitle2{
  margin-top:50px;
  font:normal 30px/46px "Roboto";
  font-weight:500;
  color:#0a013d;
}

p.about_info_subtext{
  margin-top:53px;
  font:normal 30px/46px "Roboto";
  color:#777;
}
p.about_info_subtext2{
  margin-top:30px;
  font:normal 30px/46px "Roboto";
  color:#777;
}
p.about_info_subtext2 span{
  font-weight:500;
}



div#about_sub_visual{
  width:100%;
  height:480px;
  background:url(/naming_project/sub/about/images/about_sub_visual.jpg) no-repeat center center;
  /* background-attachment: fixed; */
  overflow:hidden;
  margin-top:170px;
}


ul#about_team_list{
  width:1660px;
  height:auto;
  margin:74px auto 165px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-between;
  text-align:center;

}


p.about_team_job{
  margin-top:30px;
  font:bold 40px "Roboto";
  color:#0a013d;
}
p.about_team_name{
  margin-top:10px;
  font:normal 30px "Roboto";
  color:#0a013d;
}
p.about_team_text{
  margin-top:30px;
  font:normal 20px/30px "Roboto";
  color:#777;
}


