div#story_wrap{
  width:100%;
  
  position:relative;
  left:0;
  top:0;
  
}
div#story_shape_wrap{
  background:#06061D;
}
div#story_wrap p.story_title{
  width:1460px;
  font:bold 110px "Roboto";
  color:white;
  margin:0 auto;
  padding-top:232px;
  position:relative;
  left:0;
  top:0;
}
div#story_wrap p.story_title span{
  font-family:"Pacifico";
  color:#C2EBDA;
  position:relative;
  left:20px;
  top:0;
}

div#story_wrap span{
  position:absolute;
}
span.story_shape1{
  left:400px;
  top:90px;
  animation:story_shape_ani1 1.3s infinite;
}
span.story_shape2{
  left:1288px;
  top:176px;
  animation:story_shape_ani2 2s infinite;
}
span.story_shape3{
  left:1740px;
  top:265px;
  animation:story_shape_ani3 1.8s infinite;
}
span.story_shape4{
  left:124px;
  top:536px;
  animation:story_shape_ani4 2.5s infinite;
}
span.story_shape5{
  left:1035px;
  top:587px;
  animation:story_shape_ani5 1.2s infinite;
}
span.story_shape6{
  left:1438px;
  top:473px;
  animation:story_shape_ani6 1.4s infinite;
}
span.story_shape7{
  left:1506px;
  top:466px;
  animation:story_shape_ani7 4s infinite;
}


div#story_video_wrap{
  width: 100%;
  height: 700px;
  background:#C37C3B;
}
div#story_video_box{
  width: 1460px;
  height: 800px;
  /* background-color: skyblue; */
  margin: 0 auto;
  position:relative;
  left:0;
  top:-200px;
}
video#story_video_size{
  width: 100%;
  height: 100%;
}

video#story_video_size>embed{
  width: 100%;
  height: 100%;
}
div.story_smile{
  width:320px;
  height:320px;
  background:#BFFFE4;
  border-radius:50%;
  text-align:center;
  font:bold 56px "Roboto";
  padding-top:50px;
  box-sizing:border-box;
  position:absolute;
  right:-50px;
  bottom:-50px;
  transform:rotate(15deg)
}
p.story_smile_naming{
  color:#0A013D;
}
p.story_smile_story{
  color:#22226B;
  margin-bottom:20px;
}
div.story_smile svg path{
  stroke-dasharray:450;
  stroke-dashoffset:450;
}
div.activate svg path{
  animation: story_smile_ani 1.3s forwards;
}

@keyframes story_smile_ani{
  0%{
    stroke-dashoffset:450;
  }
  100%{
    stroke-dashoffset:0;
  }
}

@keyframes story_shape_ani1{
  0%{
    top:90px;
  }
  50%{
    /* top:75px; */
    top: 50px;
  }
  100%{
    top:90px;
  }
}

@keyframes story_shape_ani2{
  0%{
    top:176px;
  }
  50%{
    /* top:151px; */
    top:116px;
  }
  100%{
    top:176px;
  }
}

@keyframes story_shape_ani3{
  0%{
    top:265px;
  }
  50%{
    /* top:240px; */
    top:205px;
  }
  100%{
    top:265px;
  }
}

@keyframes story_shape_ani4{
  0%{
    top:536px;
  }
  50%{
    /* top:510px; */
    top:476px;
  }
  100%{
    top:536px;
  }
}
@keyframes story_shape_ani5{
  0%{
    top:587px;
    
  }
  50%{
    /* top:560px; */
    top:527px;
    
  }
  100%{
    top:587px;
    
  }
}
@keyframes story_shape_ani6{
  0%{
    top:473px;
  }
  50%{
    /* top:440px; */
    top:433px;
  }
  100%{
    top:473px;
  }
}
@keyframes story_shape_ani7{
  0%{
    top:466px;
  }
  50%{
    /* top:420px; */
    top:400px;
  }
  100%{
    top:466px;
  }
}